/* 
/* Defino estilos básicos */

:root {

  --bodyColor: #292a2b;
  --borderFormEls: hsl(0, 0%, 10%);
  --bgFormEls: #656767;
  --bgFormElsFocus: hsl(0, 7%, 20%);
}

* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  outline: none;

}

a {
  color: inherit;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 100%;
}

button,
label {
  cursor: pointer;
}

select {
  appearance: auto;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent !important;
  text-shadow: 0 0 0 var(--white);
}

textarea {
  resize: auto;
}

ul {
  list-style: none;
}

/* En pantallas chicas se apilan los elementos del formulario. En pantallas de más de 600px de ancho algunos elementos se organizan en dos columnas.*/
@media screen and (min-width: 600px) {
  .my-form .grid {
    display: grid;

  }

  .my-form .grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .my-form .grid-3 {
    grid-template-columns: auto;
    align-items: center;
    background-color: #292a2b;
  }
}

/*Estilos a los elementos del formulario*/

.my-form select,
.my-form input,
.my-form textarea,
.my-form button {
  width: 100%;
  line-height: 1.5;
  padding: 15px 15px;
  border: 1px solid var(--borderFormEls);
  color: var(--lightwhite );
  background: var(--bgFormEls);
  transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
    transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form textarea {
  height: 170px;
}

.my-form ::placeholder {
  color: inherit;
  opacity: 10;
}

/*Cada vez que un elemento del formulario está enfocado, cambia su color de fondo y algunos elementos se amplían un poco.*/

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus,
.my-form button:focus {
  background: var(--bgFormElsFocus);
}

.my-form select:focus,
.my-form input:focus,
.my-form textarea:focus {
  transform: scale(1.02);
}

.my-form *:required,
.my-form select {
  background-repeat: no-repeat;
  background-position: center right 12px;
  background-size: 12px 12px;
}

.my-form *:required {
  background-image: url(asterisk.svg);

}

.my-form select {
  background-image: url(down.svg);
}

/* Estilo en los botones de enviar y borrar */
.my-form .btn-grid {
  position: relative;
  overflow: hidden;
  transition: filter 0.2s;
}

.my-form button:enabled:hover,
.my-form button:focus {
  background: var(--bgFormElsFocus);
}

.my-form button>* {
  display: inline-block;
  width: 100%;
  transition: transform 0.4s ease-in-out;
}

.my-form button .back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-110%, -50%);
}

.my-form button:enabled:hover .back,
.my-form button:focus .back {
  transform: translate(-50%, -50%);
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
  transform: translateX(110%);
}

/* Personificar la casilla de verificación predeterminada
  - se oculta la predeterminada: */

.my-form input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.my-form input[type="checkbox"]+label {
  position: relative;
  display: inline-block;
  padding-left: 2rem;
  transition: background 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.my-form input[type="checkbox"]:focus+label {
  background: var(--bgFormElsFocus);
}

/* Configuración de su estado no verificado */

.my-form input[type="checkbox"]+label::before,
.my-form input[type="checkbox"]+label::after {
  content: '';
  position: absolute;
}

.my-form input[type="checkbox"]+label::before {
  left: 0;
  top: 6px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--white);
}

/* .my-form input[type="checkbox"]:checked + label::before {
    background: var(--brown);
  } */

.my-form input[type="checkbox"]:checked+label::after {
  left: 7px;
  top: 7px;
  width: 6px;
  height: 14px;
  border-bottom: 2px solid var(--white);
  border-right: 2px solid var(--white);
  transform: rotate(45deg);
}

@media screen and (min-width: 541px) {
  .my-form input[type="checkbox"]+label::before {
    top: 50%;
    transform: translateY(-50%);
  }

  .my-form input[type="checkbox"]:checked+label::after {
    top: 3px;
  }
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

strong {
  font-weight: 500;
}

a,
a:hover,
a:focus {
  color: #123842;
  text-decoration: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

h1,
h2 {
  margin-top: 10px;
  font-size: 38px;
  font-weight: bold;
  color: #494B4D;
  line-height: 50px;
  background-color: #656767;
  font-family: sans-serif;

}

h3 {
  font-size: 28px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
  
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #19b9e7;
  color: #fff;
  text-shadow: none;
}


.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #19b9e7;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
  outline: 0;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}

/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    vertical-align: middle;
    
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 2rem;
    display: grid;
   grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
    
}


.nav__close {
    display: var(--show, none);
}

/***** Top menu *****/

.navbar {
  padding-top: 10px;
  background: #333;
  background: rgba(51, 51, 51, 0.3);
  border: 0;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.navbar.navbar-no-bg {
  background: none;
}

ul.navbar-nav {
  font-size: 16px;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-inverse ul.navbar-nav li .li-text {
  opacity: 0.8;
}

.navbar-inverse ul.navbar-nav li a {
  display: inline;
  padding: 0;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li a:hover {
  color: #fff;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li a:focus {
  color: #fff;
  outline: 0;
  opacity: 1;
  border-bottom: 1px dotted #fff;
}

.navbar-inverse ul.navbar-nav li .li-social a {
  margin: 0 5px;
  font-size: 28px;
  vertical-align: middle;
}

.navbar-inverse ul.navbar-nav li .li-social a:hover,
.navbar-inverse ul.navbar-nav li .li-social a:focus {
  border: 0;
  color: #19b9e7;
}

.navbar-brand {
  width: 113px url(../img/logo.png) left center no-repeat;
  text-indent: -99999px;
}


/***** Top content *****/

.inner-bg {
  padding: 40px 0 170px 0;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 {
  color: #fff;
}

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p {
  opacity: 0.8;
}

.top-content .description a {
  color: #fff;
}

.top-content .description a:hover,
.top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.top-content .top-big-link {
  margin-top: 35px;
}

.form-box {
  padding-top: 40px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.35);
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  width: 75%;
  padding-top: 25px;
}

.form-top-left h3 {
  margin-top: 0;
  color: #fff;
}

.form-top-left p {
  opacity: 0.8;
  color: #fff;
}

.form-top-right {
  float: left;
  width: 25%;
  padding-top: 5px;
  font-size: 66px;
  color: #fff;
  line-height: 100px;
  text-align: right;
  opacity: 0.3;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #444;
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form .input-error {
  border-color: #19b9e7;
}

.form-bottom p {
  opacity: 0.8;
  color: #fff;
}

formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ===Para Validacion=== */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

  .navbar {
    padding-top: 0;
  }

  .navbar.navbar-no-bg {
    background: #333;
    background: rgba(51, 51, 51, 0.9);
  }

  .navbar-brand {
    height: 60px;
    margin-left: 15px;
  }

  .navbar-collapse {
    border: 0;
  }

  .navbar-toggle {
    margin-top: 12px;
  }

  .inner-bg {
    padding: 40px 0 110px 0;
  }

  .top-content .top-big-link {
    margin-top: 25px;
  }

  .top-content .top-big-link a.btn {
    margin-top: 10px;
  }

}

@media (max-width: 415px) {

  h1,
  h2 {
    font-size: 32px;
  }

}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  /* logo */
  .navbar-brand {
    background-image: url(../img/logo@2x.png) !important;
    background-repeat: no-repeat !important;
    background-size: 113px 32px !important;
  }

}